<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JspApp4-HtmlToJspToDBInteraction</display-name>
	<welcome-file-list>
		<welcome-file>person_register_form.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>db</servlet-name>
		<jsp-file>/db_js.jsp</jsp-file>
		<init-param>
			<param-name>driverClass</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<init-param>
			<param-name>connectionUrl</param-name>
			<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
		</init-param>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>system</param-value>
		</init-param>
		<init-param>
			<param-name>dbUserPassword</param-name>
			<param-value>tiger</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>db</servlet-name>
		<url-pattern>/jspdburl</url-pattern>
	</servlet-mapping>
</web-app>